/* Contenedor general del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Separaci贸n entre cada campo */
}

/* Separaci贸n entre label y su input */
form label {
    margin-bottom: 4px;
}

/* Separaci贸n hacia arriba de los botones */
form button {
    margin-top: 10px;
}

/* Separaci贸n entre los dos botones */
form button + button {
    margin-left: 10px;
}

/* Botones alineados horizontalmente*/
.botones {
    display: flex;
    gap: 12px;
}

